.toy-details {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 60vh;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;

  .toy-details-div {
    gap: 10px;
    display: grid;
    // flex-direction: column;
    grid-template-columns: 2fr 1fr;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    text-align: center;

    .toy-details-container {
      display: grid;
      gap: 10px;
    }

    .toy-image {
      width: 100%;
      height: auto;
      max-height: 300px;
      object-fit: cover;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }

    .toy-title {
      font-size: 1.8rem;
      margin: 0.5rem 0;
      color: #333;
    }

    .toy-price {
      display: block;
      font-size: 1.2rem;
      margin: 0.5rem 0;
      color: #28a745;
      font-weight: bold;
    }

    .toy-available {
      display: block;
      margin: 0.3rem 0;
      color: #555;

      &.red {
        color: red;
      }
      &.green {
        color: green;
      }
    }

    .back-btn {
      width: max-content;
      place-self: center;
    }
  }
}
